# VPN Secrets File (Example)
# Rename this file to vpn-secrets.conf and fill in your details.

WG_PRIVATE_KEY='<YOUR_PRIVATE_KEY>'
WG_PUBLIC_KEY='<YOUR_PUBLIC_KEY>'
WG_ADDRESS='<YOUR_WG_IP>/32'
WG_ENDPOINT='<YOUR_WG_ENDPOINT_IP>'
VPN_WIFI_KEY='<YOUR_WIFI_PASSWORD>'
